<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<div>
    <div class ="container min-container">
        <h2 class="basic-title">Essa página não existe</h2>
        <div class="well">
            <a href="/">Volte para a página principal.</a>
        </div>
    </div>
</div>

</html>