<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<div>
    <div class ="container min-container">
        <h2 class="basic-title">Servidor está fora do ar</h2>
        <div class="well">
            Aconteceu um problema inesperado.
        </div>
    </div>
</div>
</html>