<% include include/header %>

<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
<script>
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Média do Nível de Ruído'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Média do nível de ruído (decibéis)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Média (db): <b>{point.y:.1f}</b>'
    },
    series: [{
        name: 'Ruído',
        data: [
            <%for(i=0; i<locais.length; i++) {%>
            	['<%=locais[i].nome%>', <%=locais[i].avg%>],
            <%}%>
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>

<% include include/footer %>