<% include include/header %>

    <h2>Bem vindo ao sistema do SMART</h2>
            <h3>Equipe:</h3>
            <p>Anderson Almada</p>
            <p>Caio Raveli</p>
            <p>Ícaro Tavares</p>
            <p>Maurício Neto</p>

            <div class="line"></div>

            <h2>Topico 2</h2>
            <p>texto....</p>

<% include include/footer %>