<% include include/header %>

<h1><%=locais[id_local].nome%></h1>

<table id="historicoRuido" class="table table-striped">
  <thead>
    <tr>
      <th>Ruído</th>
      <th>Horário</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>

<script src="/js/jquery-dateFormat.min.js"></script>
<script src="/js/browserMqtt.js"></script>
<script type="text/javascript">
    const TOPIC_NOISE = 'SMART/NOISE'

    $(document).ready(function() {
    
        var client = mqtt.connect({host: '192.168.25.10', port: '1884'})
    

        client.on('connect', function() {
            console.log("Connected")
            client.subscribe(TOPIC_NOISE);
        })

        client.on("message", function (topic, payload) {
            switch (topic) {
            case TOPIC_NOISE:
                return handleTopicNoise(payload)
            }
            console.log('No handler for topic %s', topic)
        })

        function handleTopicNoise (message) {
            try {
                const messageJson = JSON.parse(message.toString());

                if('sound_level' in messageJson) {
                    let date = new Date();
                    let dia = $.format.date(date, "dd/MM/yyyy")
                    let horario = $.format.date(date, "HH:mm")
                    $('#historicoRuido tbody').append('<tr><td>'+ messageJson.sound_level +'</td><td>'+ horario +'</td><td>'+ dia +'</td></tr>');
                } else {
                    console.log("RECEIVED " + message.toString());
                }
            } catch(err) {
                console.log("MQTT Received invalid json message.");
                console.log(message.toString());
            }
        
        }
    });
</script>

<% include include/footer %>